
<div class="x-nav">
    <span class="layui-breadcrumb">
      <a><cite>首页</cite></a>
      <a><cite>会员管理</cite></a>
      <a><cite>会员列表</cite></a>
    </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"  href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>


        <section class="page-body">
                <div class="row widget">
					<div class="col-md-3 col-xs-12 col-sm-6">
                        <a class="layui-btn layui-btn-normal layui-btn-radius" href="/baiyu/show_progenitor_introduced/" style="height:150px;padding:0 120px">白羽肉鸡</a>
					</div>
					<div class="col-md-3 col-xs-12 col-sm-6">
                        <a class="layui-btn layui-btn-warm layui-btn-radius" href="#" style="height:150px;padding:0 120px">黄羽肉鸡</a>
					</div>
					<div class="col-md-3 col-xs-12 col-sm-6">
						<a class="layui-btn layui-btn-normal layui-btn-radius" href="#" style="height:150px;padding:0 120px">蛋鸡</a>
					</div>
                    <div class="col-md-3 col-xs-12 col-sm-6">
						<a class="layui-btn layui-btn-normal layui-btn-radius" href="/rouya/detail_introduced/" style="height:150px;padding:0 120px">白羽肉鸭</a>
					</div>
				</div>
        </section>
