{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}

<div class="page-wrapper">
    <section class="page-body">
        <div class="row widget">
            <section class="col-md-10 col-sm-12 col-xs-12">
                <div class="box form">
                    <div class="box-header">
                        <h3 class="box-title">5大上市企业公布2019年1月份生猪销量</h3>
                    </div>
                    <div class="box-body">
                        <div class="box-header" data-trigger="drag">
        <table cellspacing="0" cellpadding="0" align="center">
    <tbody>
        <tr style=";height:21px" class="firstRow">
            <td style="border: 1px solid rgb(0, 0, 0); padding: 0px 7px; word-break: break-all;" height="21" width="60" class="selectTdClass">
                <p style="text-align:center">
                    <strong><span style="font-size:14px;color:black">企业</span></strong>
                </p>
            </td>
            <td style="border-top: 1px solid rgb(0, 0, 0); border-right: 1px solid rgb(0, 0, 0); border-bottom: 1px solid rgb(0, 0, 0); border-image: initial; border-left: none rgb(0, 0, 0); padding: 0px 7px;" height="21" width="87" class="selectTdClass">
                <p style="text-align:center">
                    <strong><span style="font-size:14px;color:black">生猪销量（万头）</span></strong>
                </p>
            </td>
            <td style="border-top: 1px solid rgb(0, 0, 0); border-right: 1px solid rgb(0, 0, 0); border-bottom: 1px solid rgb(0, 0, 0); border-image: initial; border-left: none rgb(0, 0, 0); padding: 0px 7px;" height="21" width="67" class="selectTdClass">
                <p style="text-align:center">
                    <strong><span style="font-size:14px;color:black">环比</span></strong>
                </p>
            </td>
            <td style="border-top: 1px solid rgb(0, 0, 0); border-right: 1px solid rgb(0, 0, 0); border-bottom: 1px solid rgb(0, 0, 0); border-image: initial; border-left: none rgb(0, 0, 0); padding: 0px 7px;" height="21" width="67" class="selectTdClass">
                <p style="text-align:center">
                    <strong><span style="font-size:14px;color:black">同比</span></strong>
                </p>
            </td>
            <td style="border-top: 1px solid rgb(0, 0, 0); border-right: 1px solid rgb(0, 0, 0); border-bottom: 1px solid rgb(0, 0, 0); border-image: initial; border-left: none rgb(0, 0, 0); padding: 0px 7px;" height="21" width="84" class="selectTdClass">
                <p style="text-align:center">
                    <strong><span style="font-size:14px;color:black">销售收入（亿元）</span></strong>
                </p>
            </td>
            <td style="border-top: 1px solid rgb(0, 0, 0); border-right: 1px solid rgb(0, 0, 0); border-bottom: 1px solid rgb(0, 0, 0); border-image: initial; border-left: none rgb(0, 0, 0); padding: 0px 7px;" height="21" width="82" class="selectTdClass">
                <p style="text-align:center">
                    <strong><span style="font-size:14px;color:black">环比</span></strong>
                </p>
            </td>
            <td style="border-top: 1px solid rgb(0, 0, 0); border-right: 1px solid rgb(0, 0, 0); border-bottom: 1px solid rgb(0, 0, 0); border-image: initial; border-left: none rgb(0, 0, 0); padding: 0px 7px;" height="21" width="92" class="selectTdClass">
                <p style="text-align:center">
                    <strong><span style="font-size:14px;color:black">生猪销售价格（元</span></strong><strong><span style="font-size:14px;font-family:&#39;Arial&#39;,sans-serif;color:black">/</span></strong><strong><span style="font-size:14px;color:black">公斤）</span></strong>
                </p>
            </td>
            <td style="border-top: 1px solid rgb(0, 0, 0); border-right: 1px solid rgb(0, 0, 0); border-bottom: 1px solid rgb(0, 0, 0); border-image: initial; border-left: none rgb(0, 0, 0); padding: 0px 7px;" height="21" width="67" class="selectTdClass">
                <p style="text-align:center">
                    <strong><span style="font-size:14px;color:black">环比</span></strong>
                </p>
            </td>
        </tr>
        <tr style=";height:20px">
            <td style="border-right: 1px solid rgb(0, 0, 0); border-bottom: 1px solid rgb(0, 0, 0); border-left: 1px solid rgb(0, 0, 0); border-image: initial; border-top: none rgb(0, 0, 0); padding: 0px 7px;" height="20" width="81" class="selectTdClass">
                <p style="text-align:center">
                    <span style="font-size:14px;color:black">温氏股份</span>
                </p>
            </td>
            <td nowrap="" style="border-top: none rgb(0, 0, 0); border-left: none rgb(0, 0, 0); border-bottom: 1px solid rgb(0, 0, 0); border-right: 1px solid rgb(0, 0, 0); padding: 0px 7px;" height="20" width="87" class="selectTdClass">
                <p style="text-align:center">
                    <span style="font-size:14px;font-family:&#39;Arial&#39;,sans-serif">249.32</span>
                </p>
            </td>
            <td style="border-top: none rgb(0, 0, 0); border-left: none rgb(0, 0, 0); border-bottom: 1px solid rgb(0, 0, 0); border-right: 1px solid rgb(0, 0, 0); padding: 0px 7px;" height="20" width="67" class="selectTdClass">
                <p style="text-align:center">
                    <span style="font-size:14px;font-family:&#39;Arial&#39;,sans-serif;color:red">18.69%</span>
                </p>
            </td>
            <td valign="top" style="border-top: none rgb(0, 0, 0); border-left: none rgb(0, 0, 0); border-bottom: 1px solid rgb(0, 0, 0); border-right: 1px solid rgb(0, 0, 0); padding: 0px 7px;" height="20" width="84" class="selectTdClass">
                <p style="text-align:center">
                    <span style="font-size:14px;font-family:&#39;Arial&#39;,sans-serif;color:red">39.32%</span>
                </p>
            </td>
            <td nowrap="" style="border-top: none rgb(0, 0, 0); border-left: none rgb(0, 0, 0); border-bottom: 1px solid rgb(0, 0, 0); border-right: 1px solid rgb(0, 0, 0); padding: 0px 7px;" height="20" width="84" class="selectTdClass">
                <p style="text-align:center">
                    <span style="font-size:14px;font-family:&#39;Arial&#39;,sans-serif">31.99</span>
                </p>
            </td>
            <td style="border-top: none rgb(0, 0, 0); border-left: none rgb(0, 0, 0); border-bottom: 1px solid rgb(0, 0, 0); border-right: 1px solid rgb(0, 0, 0); padding: 0px 7px;" height="20" width="82" class="selectTdClass">
                <p style="text-align:center">
                    <span style="font-size:14px;font-family:&#39;Arial&#39;,sans-serif;color:#00B050">-1.20%</span>
                </p>
            </td>
            <td nowrap="" style="border-top: none rgb(0, 0, 0); border-left: none rgb(0, 0, 0); border-bottom: 1px solid rgb(0, 0, 0); border-right: 1px solid rgb(0, 0, 0); padding: 0px 7px;" height="20" width="92" class="selectTdClass">
                <p style="text-align:center">
                    <span style="font-size:14px;font-family:&#39;Arial&#39;,sans-serif">11.52</span>
                </p>
            </td>
            <td style="border-top: none rgb(0, 0, 0); border-left: none rgb(0, 0, 0); border-bottom: 1px solid rgb(0, 0, 0); border-right: 1px solid rgb(0, 0, 0); padding: 0px 7px;" height="20" width="67" class="selectTdClass">
                <p style="text-align:center">
                    <span style="font-size:14px;font-family:&#39;Arial&#39;,sans-serif;color:#00B050">-16.10%</span>
                </p>
            </td>
        </tr>
        <tr style=";height:20px">
            <td nowrap="" style="border-right: 1px solid rgb(0, 0, 0); border-bottom: 1px solid rgb(0, 0, 0); border-left: 1px solid rgb(0, 0, 0); border-image: initial; border-top: none rgb(0, 0, 0); padding: 0px 7px;" height="20" width="81" class="selectTdClass">
                <p style="text-align:center">
                    <span style="font-size:14px;color:black">正邦科技</span>
                </p>
            </td>
            <td style="border-top: none rgb(0, 0, 0); border-left: none rgb(0, 0, 0); border-bottom: 1px solid rgb(0, 0, 0); border-right: 1px solid rgb(0, 0, 0); padding: 0px 7px;" height="20" width="87" class="selectTdClass">
                <p style="text-align:center">
                    <span style="font-size:14px;font-family:&#39;Arial&#39;,sans-serif;color:black">76.42</span>
                </p>
            </td>
            <td nowrap="" style="border-top: none rgb(0, 0, 0); border-left: none rgb(0, 0, 0); border-bottom: 1px solid rgb(0, 0, 0); border-right: 1px solid rgb(0, 0, 0); padding: 0px 7px;" height="20" width="67" class="selectTdClass">
                <p style="text-align:center">
                    <span style="font-size:14px;font-family:&#39;Arial&#39;,sans-serif;color:red">41.46%</span>
                </p>
            </td>
            <td valign="top" style="border-top: none rgb(0, 0, 0); border-left: none rgb(0, 0, 0); border-bottom: 1px solid rgb(0, 0, 0); border-right: 1px solid rgb(0, 0, 0); padding: 0px 7px;" height="20" width="84" class="selectTdClass">
                <p style="text-align:center">
                    <span style="font-size:14px;font-family:&#39;Arial&#39;,sans-serif;color:red">109.63%</span>
                </p>
            </td>
            <td nowrap="" style="border-top: none rgb(0, 0, 0); border-left: none rgb(0, 0, 0); border-bottom: 1px solid rgb(0, 0, 0); border-right: 1px solid rgb(0, 0, 0); padding: 0px 7px;" height="20" width="84" class="selectTdClass">
                <p style="text-align:center">
                    <span style="font-size:14px;font-family:&#39;Arial&#39;,sans-serif;color:black">8.4</span>
                </p>
            </td>
            <td nowrap="" style="border-top: none rgb(0, 0, 0); border-left: none rgb(0, 0, 0); border-bottom: 1px solid rgb(0, 0, 0); border-right: 1px solid rgb(0, 0, 0); padding: 0px 7px;" height="20" width="82" class="selectTdClass">
                <p style="text-align:center">
                    <span style="font-size:14px;font-family:&#39;Arial&#39;,sans-serif;color:red">2.85%</span>
                </p>
            </td>
            <td nowrap="" style="border-top: none rgb(0, 0, 0); border-left: none rgb(0, 0, 0); border-bottom: 1px solid rgb(0, 0, 0); border-right: 1px solid rgb(0, 0, 0); padding: 0px 7px;" height="20" width="92" class="selectTdClass">
                <p style="text-align:center">
                    <span style="font-size:14px;font-family:&#39;Arial&#39;,sans-serif;color:black">——</span>
                </p>
            </td>
            <td nowrap="" style="border-top: none rgb(0, 0, 0); border-left: none rgb(0, 0, 0); border-bottom: 1px solid rgb(0, 0, 0); border-right: 1px solid rgb(0, 0, 0); padding: 0px 7px;" height="20" width="67" class="selectTdClass">
                <p style="text-align:center">
                    <span style="font-size:14px;font-family:&#39;Arial&#39;,sans-serif;color:black">——</span>
                </p>
            </td>
        </tr>
        <tr style=";height:20px">
            <td style="border-right: 1px solid rgb(0, 0, 0); border-bottom: 1px solid rgb(0, 0, 0); border-left: 1px solid rgb(0, 0, 0); border-image: initial; border-top: none rgb(0, 0, 0); padding: 0px 7px;" height="20" width="81" class="selectTdClass">
                <p style="text-align:center">
                    <span style="font-size:14px;color:black">天康生物</span>
                </p>
            </td>
            <td nowrap="" style="border-top: none rgb(0, 0, 0); border-left: none rgb(0, 0, 0); border-bottom: 1px solid rgb(0, 0, 0); border-right: 1px solid rgb(0, 0, 0); padding: 0px 7px;" height="20" width="87" class="selectTdClass">
                <p style="text-align:center">
                    <span style="font-size:14px;font-family:&#39;Arial&#39;,sans-serif">6.45</span>
                </p>
            </td>
            <td nowrap="" style="border-top: none rgb(0, 0, 0); border-left: none rgb(0, 0, 0); border-bottom: 1px solid rgb(0, 0, 0); border-right: 1px solid rgb(0, 0, 0); padding: 0px 7px;" height="20" width="67" class="selectTdClass">
                <p style="text-align:center">
                    <span style="font-size:14px;font-family:&#39;Arial&#39;,sans-serif;color:#00B050">-11.03%</span>
                </p>
            </td>
            <td valign="top" style="border-top: none rgb(0, 0, 0); border-left: none rgb(0, 0, 0); border-bottom: 1px solid rgb(0, 0, 0); border-right: 1px solid rgb(0, 0, 0); padding: 0px 7px;" height="20" width="84" class="selectTdClass">
                <p style="text-align:center">
                    <span style="font-size:14px;font-family:&#39;Arial&#39;,sans-serif;color:red">6.79%</span>
                </p>
            </td>
            <td nowrap="" style="border-top: none rgb(0, 0, 0); border-left: none rgb(0, 0, 0); border-bottom: 1px solid rgb(0, 0, 0); border-right: 1px solid rgb(0, 0, 0); padding: 0px 7px;" height="20" width="84" class="selectTdClass">
                <p style="text-align:center">
                    <span style="font-size:14px;font-family:&#39;Arial&#39;,sans-serif">0.62</span>
                </p>
            </td>
            <td nowrap="" style="border-top: none rgb(0, 0, 0); border-left: none rgb(0, 0, 0); border-bottom: 1px solid rgb(0, 0, 0); border-right: 1px solid rgb(0, 0, 0); padding: 0px 7px;" height="20" width="82" class="selectTdClass">
                <p style="text-align:center">
                    <span style="font-size:14px;font-family:&#39;Arial&#39;,sans-serif;color:#00B050">-25.52%</span>
                </p>
            </td>
            <td style="border-top: none rgb(0, 0, 0); border-left: none rgb(0, 0, 0); border-bottom: 1px solid rgb(0, 0, 0); border-right: 1px solid rgb(0, 0, 0); padding: 0px 7px;" height="20" width="92" class="selectTdClass">
                <p style="text-align:center">
                    <span style="font-size:14px;font-family:&#39;Arial&#39;,sans-serif;color:black">——</span>
                </p>
            </td>
            <td valign="top" style="border-top: none rgb(0, 0, 0); border-left: none rgb(0, 0, 0); border-bottom: 1px solid rgb(0, 0, 0); border-right: 1px solid rgb(0, 0, 0); padding: 0px 7px;" height="20" width="67" class="selectTdClass">
                <p style="text-align:center">
                    <span style="font-size:14px;font-family:&#39;Arial&#39;,sans-serif;color:black">——</span>
                </p>
            </td>
        </tr>
        <tr style=";height:20px">
            <td style="border-right: 1px solid rgb(0, 0, 0); border-bottom: 1px solid rgb(0, 0, 0); border-left: 1px solid rgb(0, 0, 0); border-image: initial; border-top: none rgb(0, 0, 0); padding: 0px 7px;" height="20" width="81" class="selectTdClass">
                <p style="text-align:center">
                    <span style="font-size:14px;color:black">龙大肉食</span>
                </p>
            </td>
            <td nowrap="" style="border-top: none rgb(0, 0, 0); border-left: none rgb(0, 0, 0); border-bottom: 1px solid rgb(0, 0, 0); border-right: 1px solid rgb(0, 0, 0); padding: 0px 7px;" height="20" width="87" class="selectTdClass">
                <p style="text-align:center">
                    <span style="font-size:14px;font-family:&#39;Arial&#39;,sans-serif">2.69</span>
                </p>
            </td>
            <td style="border-top: none rgb(0, 0, 0); border-left: none rgb(0, 0, 0); border-bottom: 1px solid rgb(0, 0, 0); border-right: 1px solid rgb(0, 0, 0); padding: 0px 7px;" height="20" width="67" class="selectTdClass">
                <p style="text-align:center">
                    <span style="font-size:14px;font-family:&#39;Arial&#39;,sans-serif;color:#00B050">-17.74%</span>
                </p>
            </td>
            <td valign="top" style="border-top: none rgb(0, 0, 0); border-left: none rgb(0, 0, 0); border-bottom: 1px solid rgb(0, 0, 0); border-right: 1px solid rgb(0, 0, 0); padding: 0px 7px;" height="20" width="84" class="selectTdClass">
                <p style="text-align:center">
                    <span style="font-size:14px;font-family:&#39;Arial&#39;,sans-serif;color:black">——</span>
                </p>
            </td>
            <td nowrap="" style="border-top: none rgb(0, 0, 0); border-left: none rgb(0, 0, 0); border-bottom: 1px solid rgb(0, 0, 0); border-right: 1px solid rgb(0, 0, 0); padding: 0px 7px;" height="20" width="84" class="selectTdClass">
                <p style="text-align:center">
                    <span style="font-size:14px;font-family:&#39;Arial&#39;,sans-serif">0.38</span>
                </p>
            </td>
            <td style="border-top: none rgb(0, 0, 0); border-left: none rgb(0, 0, 0); border-bottom: 1px solid rgb(0, 0, 0); border-right: 1px solid rgb(0, 0, 0); padding: 0px 7px;" height="20" width="82" class="selectTdClass">
                <p style="text-align:center">
                    <span style="font-size:14px;font-family:&#39;Arial&#39;,sans-serif;color:#00B050">-24%</span>
                </p>
            </td>
            <td nowrap="" style="border-top: none rgb(0, 0, 0); border-left: none rgb(0, 0, 0); border-bottom: 1px solid rgb(0, 0, 0); border-right: 1px solid rgb(0, 0, 0); padding: 0px 7px;" height="20" width="92" class="selectTdClass">
                <p style="text-align:center">
                    <span style="font-size:14px;font-family:&#39;Arial&#39;,sans-serif;color:black">12.69</span>
                </p>
            </td>
            <td nowrap="" valign="top" style="border-top: none rgb(0, 0, 0); border-left: none rgb(0, 0, 0); border-bottom: 1px solid rgb(0, 0, 0); border-right: 1px solid rgb(0, 0, 0); padding: 0px 7px;" height="20" width="67" class="selectTdClass">
                <p style="text-align:center">
                    <span style="font-size:14px;font-family:&#39;Arial&#39;,sans-serif;color:#00B050">-7.24%</span>
                </p>
            </td>
        </tr>
        <tr style=";height:20px">
            <td style="border-right: 1px solid rgb(0, 0, 0); border-bottom: 1px solid rgb(0, 0, 0); border-left: 1px solid rgb(0, 0, 0); border-image: initial; border-top: none rgb(0, 0, 0); padding: 0px 7px;" height="20" width="81" class="selectTdClass">
                <p style="text-align:center">
                    <span style="font-size:14px;color:black">罗牛山</span>
                </p>
            </td>
            <td nowrap="" style="border-top: none rgb(0, 0, 0); border-left: none rgb(0, 0, 0); border-bottom: 1px solid rgb(0, 0, 0); border-right: 1px solid rgb(0, 0, 0); padding: 0px 7px;" height="20" width="87" class="selectTdClass">
                <p style="text-align:center">
                    <span style="font-size:14px;font-family:&#39;Arial&#39;,sans-serif;color:black">2.41</span>
                </p>
            </td>
            <td nowrap="" style="border-top: none rgb(0, 0, 0); border-left: none rgb(0, 0, 0); border-bottom: 1px solid rgb(0, 0, 0); border-right: 1px solid rgb(0, 0, 0); padding: 0px 7px;" height="20" width="67" class="selectTdClass">
                <p style="text-align:center">
                    <span style="font-size:14px;font-family:&#39;Arial&#39;,sans-serif;color:red">25.69%</span>
                </p>
            </td>
            <td valign="top" style="border-top: none rgb(0, 0, 0); border-left: none rgb(0, 0, 0); border-bottom: 1px solid rgb(0, 0, 0); border-right: 1px solid rgb(0, 0, 0); padding: 0px 7px;" height="20" width="84" class="selectTdClass">
                <p style="text-align:center">
                    <span style="font-size:14px;font-family:&#39;Arial&#39;,sans-serif;color:#00B050">-8.82%</span>
                </p>
            </td>
            <td nowrap="" style="border-top: none rgb(0, 0, 0); border-left: none rgb(0, 0, 0); border-bottom: 1px solid rgb(0, 0, 0); border-right: 1px solid rgb(0, 0, 0); padding: 0px 7px;" height="20" width="84" class="selectTdClass">
                <p style="text-align:center">
                    <span style="font-size:14px;font-family:&#39;Arial&#39;,sans-serif">0.32</span>
                </p>
            </td>
            <td nowrap="" style="border-top: none rgb(0, 0, 0); border-left: none rgb(0, 0, 0); border-bottom: 1px solid rgb(0, 0, 0); border-right: 1px solid rgb(0, 0, 0); padding: 0px 7px;" height="20" width="82" class="selectTdClass">
                <p style="text-align:center">
                    <span style="font-size:14px;font-family:&#39;Arial&#39;,sans-serif;color:red">0.10%</span>
                </p>
            </td>
            <td nowrap="" style="border-top: none rgb(0, 0, 0); border-left: none rgb(0, 0, 0); border-bottom: 1px solid rgb(0, 0, 0); border-right: 1px solid rgb(0, 0, 0); padding: 0px 7px;" height="20" width="92" class="selectTdClass">
                <p style="text-align:center">
                    <span style="font-size:14px;font-family:&#39;Arial&#39;,sans-serif;color:black">——</span>
                </p>
            </td>
            <td nowrap="" valign="top" style="border-top: none rgb(0, 0, 0); border-left: none rgb(0, 0, 0); border-bottom: 1px solid rgb(0, 0, 0); border-right: 1px solid rgb(0, 0, 0); padding: 0px 7px;" height="20" width="67" class="selectTdClass">
                <p style="text-align:center">
                    <span style="font-size:14px;font-family:&#39;Arial&#39;,sans-serif;color:black">——</span>
                </p>
            </td>
        </tr>
    </tbody>
</table>
<p>
    <br/>
</p>
                        </div>
                        <div>
                            <div id="pig_profit" style="width: 100%;height: 550px;"></div>
							</div>
                    </div>
                </div>
            </section>
        </div>
    </section>
</div>

<script>

Highcharts.chart('pig_profit', {
  chart: {
    type: 'area'
  },
  title: {
    text: 'Historic and Estimated Worldwide Population Growth by Region'
  },
  subtitle: {
    text: 'Source: Wikipedia.org'
  },
  xAxis: {
    categories: ['1750', '1800', '1850', '1900', '1950', '1999', '2050'],
    tickmarkPlacement: 'on',
    title: {
      enabled: false
    }
  },
  yAxis: {
    title: {
      text: 'Billions'
    },
    labels: {
      formatter: function () {
        return this.value / 1000;
      }
    }
  },
  tooltip: {
    split: true,
    valueSuffix: ' millions'
  },
  plotOptions: {
    area: {
      stacking: 'normal',
      lineColor: '#666666',
      lineWidth: 1,
      marker: {
        lineWidth: 1,
        lineColor: '#666666'
      }
    }
  },
  series: [{
    name: 'Asia',
    data: [502, 635, 809, 947, 1402, 3634, 5268]
  }, {
    name: 'Africa',
    data: [106, 107, 111, 133, 221, 767, 1766]
  }, {
    name: 'Europe',
    data: [163, 203, 276, 408, 547, 729, 628]
  }, {
    name: 'America',
    data: [18, 31, 54, 156, 339, 818, 1201]
  }, {
    name: 'Oceania',
    data: [2, 2, 2, 6, 13, 30, 46]
  }]
});
</script>
{% endblock %}